<h1>Posts</h1>
<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.text %></p>
    <p><%= link_to 'Modifica articolo', edit_post_path(post) %></p>
    <p><%= link_to 'Elimina', post_path(post), method: :delete %></p>
    <br>
<% end %>

<%= link_to 'Nuovo post', new_post_path %>